    @font-face {
    font-family: 'Jibberish';
    src: url('../Jibberish.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    
    body {
        font-family: Jibberish;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
    }

    h1 {
        color: #333333;
    }

    input {
        font-family: Jibberish;
        padding: 10px;
        width: 70%;
        font-size: 16px;
    }

    button {
        font-family: Jibberish;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333333;
        color: white;
        border: none;
        cursor: pointer;
    }

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}